   :root {
    --white: #f7eedd;
    --blue: #008dda;
    --teal: #41c9e2;
    --ltblue: #ace2e1;
       }
    body {
        display: flex;
        margin: 0;
        flex-direction: column;
        background-color: var(--white);
        color: var(--blue);
        min-height: 100vh;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    header {
        display: flex;
        justify-content: space-between;
        background-color: black;     
    }
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0px;       
        font-size: medium;
        font-weight: bold;
        padding-left: 90px;
        padding-right: 20px;
    }
    .deviceMenu {
        display: flex;
        justify-content: center;
        margin-right: 100px;     
        margin-left: 30px;    
    }
    .deviceMenu:hover {
        color: var(--teal);
        cursor: pointer;
    }
    .accountMenu {
        margin-right: 100px;      
    }
    .accountMenu:hover {
        color: var(--teal);
        cursor: pointer;
    }
    .login {
        display: flex;        
        margin-right: 20px;
    }
    .login:hover {
        color: var(--teal);
        cursor: pointer;
    }
    footer {
        background-color: black;
        color: var(--ltblue);
        text-align: center;
        margin-top: auto;
    }    
    #slogan {
        font-weight: bolder;
        font-style: italic;
        text-align: center;
        margin-bottom: 50px;
    }
    .headerlogo {
        height: 75px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .wordLogo {
        margin-top: 10px;
    }
    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        border-bottom: solid 3px var(--blue);
    }
    #welcome {
        font-weight: bold;
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 300px;
        margin-right: 300px;
        padding-bottom: 40px;
        padding-top: 6px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -webkit-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
    }
    #email {
        display: flex;
       justify-content: space-between;
       align-items:center;
        margin-top: 5px;
        margin-bottom: 6px;
    }
    #password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
    }
    #submitLogin {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;      
    }
    #loginLogo {
        width: 100px;
    }
    #regLink:link {
        text-decoration:none;

    }
    #regLink:hover {
        color: var(--teal);
        cursor: pointer;
    }
    #regLink:active {
       
        color: var(--ltblue);
    }
    #regLink:visited {
        color: var(--teal);
    }
    button:hover {
        color: var(--blue);
        cursor: pointer;
    }
    #accountPageHeader {
        text-align: center;
    }
    .nameAndEmail {
        display: flex;
        margin-right: 100px;
        justify-content: space-between;
    }
    #accountName {
        font-weight: bold;
        margin-left: 5px;
    }
    #accountEmail {
        font-weight: bold;
    }   
    #bill {
        background-color: var(--blue);
        color: var(--white);
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-content: center;
        width: fit-content;
        margin-bottom: 20px;
        margin-left: 5px;     
    }
    #bill:hover {
        background-color: var(--ltblue);
        color: var(--blue);
    }
    .billInfo {
        display: flex;
        flex-direction: column;       
    }
    .billDetails {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: start;
       background-color: white;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -webkit-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
    }
    #plans {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -webkit-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
    }
    #myPlansHeader {
        margin-left: 3px;
    }
    .bulletList {
        text-decoration: none;
        padding-left: 0px;
    }
    .cancel-plan-button {
        margin-top: 25px;
        background-color: var(--ltblue);
    }
    .add-plan-button {
        background-color: var(--blue);
        color: var(--white);
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 30px;
        margin-right: 6px;
        margin-bottom: 20px;
    } 
    .add-plan-button:hover {
        background-color: var(--ltblue);
        color: var(--blue);
    }
    .add-plan {
        display: flex;
    }
    #selectedPlan {
        font-weight: bold;
    }
    .deviceDisplay {
        list-style-type: none;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -webkit-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.55);
    }
    .addNewDevice {
        margin-left: 30px;
    }
    #addDeviceButton {
        background-color: var(--blue);
        color: var(--white);
        margin-left: 6px;
        border: none;
        border-radius: 3px;
        padding: 3px 5px;
        cursor: pointer;  
    }
    #addDeviceButton:hover {
        background-color: var(--teal);  
        color: var(--blue);
    }
    .deviceList {
        list-style-type: none;
    }
    #phoneNumber {
        font-weight: bold;
    }
    #deleteDeviceButton {
        background-color: var(--blue);
        font-weight: bold;
        color: var(--white);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    #swapPhoneButton {
        background-color: var(--teal);
        font-weight: bold;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #swapPhoneButton:hover {
        background-color: var(--ltblue);
        color: var(--blue);
    } 
    #deleteDeviceButton:hover {
        background-color: var(--ltblue);
        color: var(--blue);
    }   
    #confirmDeleteButton {
        margin-bottom: 6px;
        margin-right: 5px;
    } 
    #cancelDeleteButton {
        margin-bottom: 6px;        
    }
    #confirmSwapButton {
        margin-left: 3px;
        margin-right: 3px;
    }
    #swapCancelButton {

    }
    #addDeviceToPlanBtn {
        margin-left: 5px;
    }
    #removeDevice {
        margin-left: 5px;
    } 