.cancel-plan {
    margin-bottom: 20px;
  }
  
  .cancel-plan-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  
  