.cancel-plan {
    margin-bottom: 20px;
  }
  
  .cancel-plan-button {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .cancel-plan-button:hover {
    background-color: var(--ltblue);
    color: var(--blue);
  }
  
  
  
  
  